body{
					font-family: Lato;
							font-size: 15px;
							color: #333333;
					}
	p{
									color: #333333;
					}
	h1,.h1{
					font-family: Montserrat;
							font-size: 140px;
							color: #333333;
					}
	h2,.h2{
					font-family: Montserrat;
							font-size: 45px;
							color: #333333;
					}
	h3,.h3{
					font-family: Montserrat;
							font-size: 36px;
							color: #333333;
					}
	h4,.h4{
					font-family: Montserrat;
							font-size: 30px;
							color: #333333;
					}
	h5,.h5{
					font-family: Montserrat;
							font-size: 18px;
							color: #333333;
					}
	h6,.h6{
									color: #333333;
					}
	a{
									color: #333333;
					}




	
	h1,h2,h3,h4,h5{
	margin:10px 0;
}
h1{
	letter-spacing:-6px;
}
.design2 h1 {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    letter-spacing: 1px;
}
.design2 {
    font-size: 17px;
    line-height: 1.5;
}
.design2 a.is-btn {
    background-color: #FF4D54;
    border-color: #FF4D54;
    color: #fff;
    font-weight: 700;
    border-radius: 25PX;
}
.is-card{
    border-radius: 10px;
	width:100%;
}
.bg-burgundy{
	background-color:#7c3c94;
}
.bg-blue{
	background-color:#4290cb;
}
.block .is-box-6 h5{
	font-weight: 700;
	font-size: 15px;
	margin-bottom:10px;
}
.block .is-box-6 h5:after{
	content: "";
    border-bottom: 2px solid #eaeaea;
    display: block;
    margin: 15px 0;
    max-width: 50px;
}
.block .is-box-6 .col-md-6:nth-child(2){
    padding: 18px 20px;
}
.site-footer h3.title {
    font-weight: 600;
    margin-bottom: 30px;
}
.site-footer a.morelink {
    color: #92298d;
    font-weight: 500;
}
.site-footer .footer-social {
    border-top: 1px solid #474747;
}
.site-footer .footer-social a.fa {
    background: transparent;
    margin: 0;
    width: auto;
    padding-right: 18px;
}
.site-footer ul.popular-tags {
    padding: 0;
}
.site-footer ul.popular-tags li {
    display: inline-block;
    list-style-type: none;
    padding: 3px 12px 5px 12px;
    background-color: #4a4a4a;
    margin-right: 20px;
    margin-bottom: 12px;
}
.site-footer .blog_widget {
    padding: 0;
}
.site-footer .blog_widget li {
    list-style-type: none;
    border-bottom: 1px solid #4A4A4A;
    padding-bottom: 14px;
    padding-top: 14px;
}
.site-footer .blog_widget li:last-child {
    border-bottom: none;
}
.site-footer .blog_widget li .thumb {
    min-height: 50px;
    min-width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.site-footer .blog_widget li .thumb, .site-footer .blog_widget li .info {
    display: inline-block;
    vertical-align: top;
}
.site-footer .blog_widget li .info h5.title {
    font-weight: 500;
    font-size: 14px;
}
.site-footer .blog_widget li .info h5.date {
    font-size: 12px;
    color: #92298d;
}
.copyright {
    font-size: 13px;
    color: #6b6b6b;
    font-weight: 400;
}
ul.sitemap li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
ul.sitemap li a {
    color: #6b6b6b;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
.newsletter h3.title {
    margin-bottom: 7px;
    margin-top: 24px;
}
.newsletter .form-group {
    padding: 0 !important;
}
.newsletter form {
    position: relative;
    display: inline-block;
    width: 80%;
}
.newsletter .form-group input[type=text] {
    border-radius: 0;
    min-height: 41px;
}
.newsletter .form-group:last-child {
    position: absolute;
    bottom: 0;
    left: 87%;
    max-width: 50px;
}
.newsletter .form-group:last-child button.submit {
    background-color: #05a5ff;
    color: transparent;
    width: 100%;
    border-radius: 0;
    border-color: inherit;
    background-image: url(/uploads/2019/08/btn-submit-bg_640915644.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
}
.newsletter .help {
    line-height: 1.3;
    margin-bottom: 14px;
    color: #6b6b6b;
    font-weight: 500;
}
.newsletter .footnote {
    margin-top: -10px;
    color: #6b6b6b;
    font-weight: 500;
}
.page-3 .navbar-custom {
    background-color: #6181B1;
}

	.button_4740996{-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;background-color:#92298d;background-image:none;color:#ffffff;font-family:Lato;font-size:20px;line-height:20px;font-weight:400;border-top-left-radius:2px;border-top-right-radius:2px;border-bottom-left-radius:2px;border-bottom-right-radius:2px;padding-left:30px;padding-right:30px;padding-top:8px;padding-bottom:8px;display:inline-block;}.button_4740996:hover{background-color:rgba(146,41,141,0.7);background-image:none;color:#ffffff;font-family:Lato;font-size:20px;line-height:20px;font-weight:400;border-top-left-radius:2px;border-top-right-radius:2px;border-bottom-left-radius:2px;border-bottom-right-radius:2px;padding-left:30px;padding-right:30px;padding-top:8px;padding-bottom:8px;}
.navbar-custom{
		background-color:rgba(255,255,255,0);
}
	.navbar-absolute-top{
		position: absolute;
		right: 0;
		left: 0;
		z-index: 1030;
		background-color: transparent;
	}

.navbar-toggle{
	background-color:rgba(0,0,0,1);
}
.header3 .slide-toggle span,.header4 .slide-toggle span{
	
}
.navbar-custom .navbar-nav li a{
	background-color:rgba(255,255,255,0);
	color:rgba(255,255,255,1);
}
.navbar-custom .navbar-nav li:hover > a{
	background-color:rgba(255,255,255,0);
	color:#ffffff;
}
.navbar-custom .nav>li>a:focus, .navbar-custom .nav>li>a:hover, .navbar-custom .navbar-nav li.active a{
	background-color:rgba(255,255,255,0);
	color:#ffffff;
}
.navbar-custom .navbar-nav li ul.sub-menu li a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,1);
}
.navbar-custom .navbar-nav li ul.sub-menu li:hover > a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,0.5);
}
.navbar-custom .nav li ul.sub-menu li a:focus, .navbar-custom .nav li ul.sub-menu li.active a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,0.5);
}
.sticky-wrapper.is-sticky .navbar-custom{
	background-color:rgba(0,0,0,1);
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li a{
	color:rgba(0,0,0,1);
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li:hover > a{
	color:rgba(0,0,0,1);
}
.header3 .sliding .sliding-menu,.header4 .sliding .sliding-menu{
	background-color:#eaeaea;
	color:#000000;
}
@media (max-width: 768px){
	.navbar-collapse{
		background-color:rgba(0,0,0,0);
	}
}
